
 * {
     box-sizing: border-box;
 }

 .body {
     background: linear-gradient(to right, #83a4d4, #b6fbff);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     
 }

 .login-container {
     background: #e6f5f8;
     border-radius: 20px;
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
     width: 90%;
     max-width: 400px;
     padding: 2rem;
     text-align: center;
 }

 .login-container img {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     object-fit: cover;
     margin-bottom: 1.5rem;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
 }

 .login-container h2 {
     margin-bottom: 1.5rem;
     color: #333;
 }

 .form-element {
     width: 100%;
     padding: 0.75rem;
     margin-bottom: 1rem;
     font-size: 1rem;
     border: 1px solid #ccc;
     border-radius: 10px;
     transition: border-color 0.3s;
 }

 .form-element:focus {
     border-color: #0077cc;
     outline: none;
 }

 .login-container button {
     background-color: #0077cc;
     color: white;
     border: none;
     border-radius: 10px;
     font-size: 1rem;
     cursor: pointer;
     transition: background-color 0.3s;
 }

 .login-container button:hover {
     background-color: #005fa3;
 }

.error {
      color: #e74c3c;
      font-size: 14px;
      text-align: left;
      margin-top: -10px;
      margin-bottom: 10px;
    }